*
{
    margin: 0;
    padding: 0;
}
/*******/
header
{
    width: 100%;
    height: 620px;
}
.overflow
{
    width: 100%;
    background-image: url(pexels-phowto.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contanier
{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: 'Caveat Brush', cursive;


}
.contanier h1
{
    padding: 10px;
}
.contanier img
{
    float: left;
    padding: 10px;
}
.contanier ul 
{
    list-style: none;
    float: right;
}
.contanier ul li 
{
    display: block;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 5px;
}
.contanier ul li a
{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
    margin: 5px;
    
}
.contanier ul li a:hover
{
    background-color: aliceblue;
    color: black;
}
/*strat First */
.first
{
    width: 100%;
    height: 600px;
    background-image: url(222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cont
{
    width: 100%;
    height: 100%;
}
.cont h1
{
    color: white; 
    font-family: 'Caveat Brush', cursive;
    font-size: 35px;
    padding: 20px;
    text-align: center;
}
.cont table
{
    width: 100%;
    height: 80%;
}
.cont table tr td
{
    border: 5px solid #fff;
    text-align: center;
    border-radius: 250px;
    padding: 15px;
}
.cont table tr td a
{
    display: block;
    border: 1px ‫‪dashed‬‬ #fff;
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Barrio', cursive;
}
.cont table tr td a:hover
{
    background-color: white;
    border-radius: 30px;
}
/*End First*/
/*Strat Secound */
.Second
{
     width: 100%;
    height: 600px;
      background-image: url(222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        background-attachment: fixed;

   
}
.contS
{
    width: 100%;
    height: 100%;
}
.contS h1
{
    color: white; 
    font-family: 'Caveat Brush', cursive;
    font-size: 35px;
    padding: 20px;
    text-align: center;
}
.contS table
{
    width: 100%;
    height: 80%;
}
.contS table tr td
{
    border: 5px solid #fff;
    text-align: center;
   
    padding: 15px;
}
.contS table tr td a
{
    display: block;
    border: 1px ‫‪dashed‬‬ #fff;
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Barrio', cursive;
}
.contS table tr td a:hover
{
    background-color: black;
    border-radius: 30px;
}
/*End Secound*/
/*Start Thered*/
.Thered
{
     width: 100%;
    height: 600px;
   background-image: url(222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        background-attachment: fixed;

}
.contT
{
    width: 100%;
    height: 100%;
}
.contT h1
{
    color: white; 
    font-family: 'Caveat Brush', cursive;
    font-size: 35px;
    padding: 20px;
    text-align: center;
}
.contT table
{
    width: 100%;
    height: 80%;
}
.contT table tr td
{
    border: 5px solid #fff;
    text-align: center;
   
    padding: 15px;
}
.contT table tr td a
{
    display: block;
    border: 1px ‫‪dashed‬‬ #fff;
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Barrio', cursive;
}
.contT table tr td a:hover
{
    background-color: white;
    border-radius: 30px;
}
/*End Thered*/
/*Start Last*/
.Last
{
     width: 100%;
    height: 600px;
    background-image: url(222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        background-attachment: fixed;

}
.contL
{
    width: 100%;
    height: 100%;
}
.contL h1
{
    color: white; 
    font-family: 'Caveat Brush', cursive;
    font-size: 35px;
    padding: 20px;
    text-align: center;
}
.contL table
{
    width: 100%;
    height: 80%;
}
.contL table tr td
{
    border: 5px solid #fff;
    text-align: center;
   
    padding: 15px;
}
.contL table tr td a
{
    display: block;
    border: 1px ‫‪dashed‬‬ #fff;
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Barrio', cursive;
}
.contL table tr td a:hover
{
    background-color: white;
    border-radius: 30px;
}
/*End Last*/
/*Start Footer */
footer
{
    width: 100%;
    height: 620px;
    background-image: url(Back1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.contener
{
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    background: rgba(0,0,0,0.5);
}
.p1
{
    width: 25%;
    height: 75%;
    color: #fff;
    padding: 20px;
    float: left
   
}
.p1 h1
{
     font-family: 'Caveat Brush', cursive;
    font-size: 30px;
}
.p1 p
{
   font-family: 'Delius Unicase', cursive;
}
.p2 
{
    width: 25%;
    height: 50%;
    color: #fff;
    float: right;
      padding: 20px;
}
.p2 h1
{
     font-family: 'Caveat Brush', cursive;
    font-size: 30px;
}
.p2 h2
{
         font-family: 'Caveat Brush', cursive;

}
/* End footer*/